[submodule "Gateway-Service"]
	path = Gateway-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Gateway-Service.git
[submodule "Beneficiary-Service"]
	path = Beneficiary-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Beneficiary-Service.git
[submodule "Global-Service"]
	path = Global-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Global-Service.git
[submodule "Auth-Service"]
	path = Auth-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Auth-Service.git
[submodule "Kiosk-Service"]
	path = Kiosk-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Kiosk-Service.git
[submodule "App-Mobile-Service"]
	path = App-Mobile-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/App-Mobile-Service.git
[submodule "Records-Service"]
	path = Records-Service
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/Records-Service.git
