[submodule "microservice-gateway"]
	path = microservice-gateway
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/microservice-gateway.git
[submodule "beneficiary-microservice"]
	path = beneficiary-microservice
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/beneficiary-microservice.git
[submodule "general-microservice"]
	path = general-microservice
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/general-microservice.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/auth-microservice.git
[submodule "kiosk-microservice"]
	path = kiosk-microservice
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/kiosk-microservice.git
